@import "./Global.scss";

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: lightsalmon;
  position: relative;
  top: 62px;
  padding-right: 13px;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  @include mobile {
    top: 45px;
    height: calc(100vh - 80px);
  }
  > * {
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    @include mobile {
      top: 45px;
      width: 100vw;
      height: calc(100vh - 80px);
      scroll-snap-align: end;
    }
  }
}
